.navbar {
    min-height: 70px;
}

.navbar-brand img {
    height: 50px !important;
    max-width: 220px !important;
    margin-bottom: 10px;
}

.blue-line {
    background: rgb(0, 172, 242);
    background: linear-gradient(90deg, rgba(0, 172, 242, 1) 45%, rgba(102, 45, 145, 1) 100%);
    height: 5px;
}

.blue-line-nav {
    position: absolute;
    bottom: 0px;
    background: rgb(0, 172, 242);
    background: linear-gradient(90deg, rgba(0, 172, 242, 1) 45%, rgba(102, 45, 145, 1) 100%);
    height: 5px;
    width: 100%;
}

.navbar {
    color: #00ACF2 !important;
    padding: 0px;
}

.black-bkg {
    background: #000 !important;
    color: #FFF !important;
}

.black-bkg img {
    width: 150px;
}

.gradient-img {
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: repeat-x;
    background-image: url(../imgs/Conanima_Image_Gradient.png);

}

.frame-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../imgs/Conanima_Image_Frame.png);
}

.carousel-inner {
    width: 100%;
    background-size: cover;
    background-image: url(../imgs/Conanima_Image_Landing_Front.jpg);
    margin-top: 65px;
    text-align: center;
}

.logo-landing {
    width: 400px;
}

.add-icon {}

.header-landing-text {
    font-style: italic;
    font-weight: 900;
    padding: 20px;
    font-size: 40px;
    color: #FFF;
}

.conanima-portfolio {
    background-image: url(../imgs/Conanima_Image_Page_4.jpg) !important;
    background-size: contain;
}


.conanima-center {
    padding: 30px;
    text-align: center;
}

.conanima-icon {
    width: 50px;
    height: 50px;
    background-image: url(../imgs/Conanima_Icon.png) !important;
}

.navbar-nav {}

.conanima-btn {
    border-radius: 100px;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
    background: rgb(0, 172, 242) !important;
    background: linear-gradient(90deg, rgba(0, 172, 242, 1) 45%, rgba(102, 45, 145, 1) 100%) !important;
}

.conanima-btn:before {
    background: rgb(0, 172, 242) !important;
    background: linear-gradient(90deg, rgba(0, 172, 242, 1) 45%, rgba(102, 45, 145, 1) 100%) !important;
}

.section {
    padding-bottom: 20pxpx;
}

.shot-item iframe {
    padding: 0px !important;
    width: 100%;
    height: 100%;
}

.embed-container {

    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-subtitle-client {
    color: white;
    margin-bottom: 10px;
}

.conanima-client img {
    width: 75%;
    margin-bottom: 20px;
}

.clients {
    background-image: url(../imgs/Conanima_Image_Page_5.jpg) !important;
    background-size: cover !important;
    text-align: center !important;
}

.section-paragraph {
    padding-top: 30px;
}

.about-us {
    background-image: url(../imgs/Conanima_Image_Page_3.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
}

.conanima-about-us {
    padding: 20px;
}

.conanima-about-us p {
    background: none !important;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.conanima-white-text {
    color: #FFF !important;
}

.conanima-highlight-text {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    font-style: italic;
    color: rgb(0, 172, 242) !important;
}

.conanima-map {
    position: absolute;
    z-index: -1;
}

.conanima-contact-container {
    box-sizing: border-box;
}

.conanima-contact {
    padding: 20px;
    background: #FFF;

}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 80%;
}

.conanima-photo-prod {

    margin-bottom: 30px;
}

.conanima-photo-prod img {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;

}

.conamima-main-image {
    margin-top: 30px !important;
}

@media (max-width: 768px) {

    .logo-landing {
        width: 50%;
    }

    #myVideo {
        height: 100%;
        width: auto;
        opacity: 80%;
    }

    .frame-img {
        background-image: none;
    }
    .header-landing-text {
        font-size: 30px;
    }
    .conanima-client img {
        width: 55%;
        margin-bottom: 20px;
    }
    .section-title {
        font-size: 30px;
    }
    .footer-Content {
        text-align: center;
    }
    .contact-footer {
        text-align: left;
    }
}
